<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new title Document</title>
    <!-- Bootstrap Links -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      function fun()
      {
        var data = {
        firstname : document.getElementById("firstName").value,
        Email : document.getElementById("email").value
        }
        console.log(data);
        var fn=prompt("enter ur firstname");
        var email=prompt("enter ur email");
        data.firstname=fn;
        data.Email=email;
        console.log(data);
      }
    </script>
</head>
<body >
    <div class="container" style="background-color: pink;margin-top: 120px;padding:50px" >
  <form>
    
    <!--<div class="container"> -->
        <h1 style="text-align: center;">Have a Question?</h1>
       <div class="row"> 
           <div class="col-sm-6">
               <h1 style="text-align: center;">Contact Us</h1>
               <br>
               <h5 style="text-align: center;">We are here to answer any questions about tutorgenies you may have.</h5>
               <br>
               <h5 style="text-align: center;">Have any suggestions for our platform? Feel free to reach out to us.</h5>
               <br>
               <h5 style="text-align: center;">If you have any problems or experience any technical difficulties, please do not hesitate to contact us. </h5>
               <br>
               <h5 style="text-align: center;">We will get back to you as soon as possible.</h5>
               <br>
           </div>
         <div class="col-sm-6" Style="background-image: url(https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);background-size:100%"> 
              <div class="form-group">
                <label for="name" Style="color: snow;">Name*</label>
                <input type="text" class="form-control" id="firstName" name="firstName" v-model="firstName" placeholder="Enter your name">
             </div>
             <div class="form-group">
                <label Style="color: snow;" for="email">Email address*</label>
                <input type="email" class="form-control" id="email" name="email" v-model="email" placeholder="name@example.com">
              </div>
             <div class="form-group">
                <label Style="color: snow;" for="Textarea">Message</label>
                <textarea class="form-control" id="Textarea" name="Textarea" v-model="Textarea" rows="3"></textarea>
             </div>
            <!-- <button type="button" class="btn btn-primary" onClick="fun();" >submit</button>-->
             <input type="button" onClick="fun();" value="Submit">
            <!--<div class="form-group">
              <input type="button" class="form-control" onClick="fun();" value="Submit">
              <input type="submit" class="form-control" id="submit"  onclick="fun();" >
             </div>-->
        </div> 
        
        </div>
       <!-- <div class="row"> 
            <div class="col-sm-8"> 
                 <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                 </div>
           </div>   
      </div>
      <div class="row"> 
        <div class="col-sm-8"> 
             <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
             </div>
       </div> --> 
      
      
     
    <!--</div>-->

  </form> 
</div> 
    </body>
</html>
